
/*
This document contains the styling for the user page when overridden by APK.
*/

/*** SECTION HEADINGS ********************************************************/

#user-profile .panel-pane h2.title {
  border: 1px solid #CCCCCC;
  padding: 5px 9px;
}

/*** AUTHOR PANE COLORS AND BORDERS ******************************************/

#user-profile .author-pane .author-name {
  font-size: 120%;
  font-weight: bold;
}

#user-profile .author-pane .picture img {
  border: 1px solid #CCCCCC;
}

#user-profile .author-pane .author-pane-label {
  font-weight: bold;
}

/*** AUTHOR PANE STRUCTURE ***************************************************/

#user-profile .author-pane {
}

#user-profile .author-pane-inner {
}

#user-profile .author-pane-first {
  margin-bottom: 10px;
}

#user-profile .author-pane-last {
  margin-top: 25px;
}

#user-profile .author-pane .author-name {
  margin: 10px 0pt 10px 0pt;
  padding: 0;
}

#user-profile .author-pane .picture {
  float: none;
  padding-left: 0px;
}

#user-profile .author-pane .picture img {
  height: auto; 
  padding: 8px;
  max-width: 120px;
}

#user-profile .author-pane-line {
  padding-bottom: 5px;
}

#user-profile .author-pane-icon {
  display: inline;
  padding: 10px 2px 2px 0;
}

/*** DEFAULT PANES ***********************************************************/

#user-interests {
}

#user-links {
}

#user-contact{
}

#user-guestbook {
}

/*** USER LIST VIEW **********************************************************/

.user-list-item {
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  padding: 10px;
}

.user-list-author-pane {
  float: left;
  margin-right: 10px;
}

.user-list-item .author-name {
  padding-bottom: 5px;
}

.user-list-item .author-name a {
  font-size: 120%;
  font-weight: bold;
}

.user-list-author-pane .picture {
  float: none;
  clear: none;
  padding-left: 0;
}

.user-list-author-pane .picture img {
  height: auto; 
  padding: 8px;
  max-width: 120px;
  border: 1px solid #CCCCCC;
}

